/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Footer */
.modal-footer {
  height: 7rem;
  background-color: WhiteSmoke;
  color: white;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Modal Content */
.modal-content {
  border-radius: 0.5rem;
  background-color: #fefefe;
  margin: 5rem auto;
  padding: 0;
  width: 50%;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.note-color {
  height: 0.7rem;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.note-form {
  margin-top: 1rem;
  margin-left: 2rem;
}

.color-selection {
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.selected-border {
  border: 0.1rem solid darkslategrey;
}

.title-text input {
  width: 89%;
  line-height: 2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: darkslategrey;
  border: none;
  font-style: italic;
}

.notes-text textarea{
  margin: 1rem 0 2rem 0;
  border: none;
  color: darkslategrey;
  resize: none;
  width: 95%;
}


