<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="note-color" [ngStyle]="setColor()"></div>
      <div class="note-form">
        <div class="flex">
          <div *ngFor="let color of colors | keys" class="color-selection" [ngStyle]="{ 'background-color': colors[color] }"
               [ngClass]="{ 'selected-border': colors[color] === selectedColor }" (click)="setSelectedColor(colors[color])"></div>
        </div>
        <div class="title-text">
          <input type="text" [(ngModel)]="notesTitle" placeholder="Untitled" [value]="notesTitle">
        </div>
        <div class="notes-text">
          <textarea [(ngModel)]="notes" (ngModelChange)="notesOnChange()" rows="35" cols="0" placeholder="Just start typing here">{{notes}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="flex space-between">
          <div class="button"><button class="cancel" (click)="cancel()">Cancel</button></div>
          <div class="button">
            <button class="positive" (click)="addNote()">
              <span *ngIf="!editMode">Add</span>
              <span *ngIf="editMode">Edit</span>
            </button>
          </div>
        </div>
      </div>
  </div>

</div>
