/* You can add global styles to this file, and also import other style files */
body {
  font-family: Helvetica, Arial, Sans-Serif;
  margin: 0;
  color: dimgray;
}

.flex {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.space-between {
  justify-content: space-between;
}

button {
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2rem 4rem;
  border-radius: 12px;
}

.positive {
  background-color: LightSeaGreen;
}

.cancel {
  background-color: lightgrey;
}
